@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

section[epub|type~="halftitlepage"] > p{
	font-style: italic;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

p.subsection{
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 2em;
	text-align: center;
	text-indent: 0;
}

ol > li::marker{
	font-variant-numeric: oldstyle-nums;
}

/* Centered dedications */
section[epub|type~="dedication"]{
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	line-height: 300%;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

section[epub|type~="dedication"] b{
	font-size: larger;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:hymn"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:hymn"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:hymn"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br{
	display: none;
}
